<h1>Hello <%= @question_owner.full_name %>,</h1>

<p>
  You got an answer to your question: <%= @question.title %>
</p>

<p>
  The answer is:
</p>

<p>
  <%= @answer.body %>
</p>

<%= link_to 'Click here to view your question', question_url(@question) %>

<p>Regards,</p>
<p>Awesome Answers Team</p>
