ENV[‘EMAIL_USERNAME’] = ‘PUT EMAIL USERNAME’
ENV[‘EMAIL_PASSWORD’] = ‘PUT EMAIL PASSWORD’
ENV[‘AWS_ACCESS_KEY_ID’] = ‘PUT AWS ACCESS KEY’
ENV[‘AWS_SECRET_ACCESS_KEY’] = ‘PUT AWS SECRET ACCESS KEY’
ENV[‘GITHUB_KEY’] = ‘PUT GITHUB CLIENT ID HERE’
ENV[‘GITHUB_SECRET’] = ‘PUT GITHUB CLIENT SECRET ACCESS HERE’
ENV[‘STRIPE_PUBLISHABLE_KEY’] = ‘’
ENV[‘STRIPE_SECRET_KEY’] = ‘’
