<h1>Nearby Users</h1>

<!-- # <#% if @hash %> -->
<% if @markers %>
  <div style='width: 800px;'>
    <div id="map" style='width: 1000px; height: 500px;'></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      // markers = handler.addMarkers(<%= raw @hash.to_json %>);
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
<% end %>
