<h1>Send Gift to <%= @receiver.full_name %></h1>

<%= simple_form_for [@receiver, @gift] do |f| %>
  <%= f.input :amount, as: :string %>
  <%= f.submit 'Send The Gift 🎁🍺', class: 'btn btn-primary' %>
<% end %>
