/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require chosen
 *= require_tree .
 *= require_self
 */

html {
  font-family: Helvetica, sans-serif;
}

* {
  font-family: inherit;
}

.question-list-item {
  margin-bottom: 0.5rem;
}

/*
  The following statement allows us to load scss code from another file.
  We use it load the bootstrap installed by the gem `bootstrap`. This only
  works inside .scss files and note regular .css files.
  For more on SCSS (or SASS) check out, http://sass-lang.com/
*/
@import 'bootstrap';



.tag-checkbox {
  margin-right: 25px;
}



/* bump */
